<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="
            default-src 'self' app:;
            script-src 'self' app:;
            style-src 'self' 'unsafe-inline' app: app://* https://cdn.jsdelivr.net;
            style-src-elem 'self' 'unsafe-inline' app: app://* https://cdn.jsdelivr.net;
            img-src 'self' data: app:;
            font-src 'self' app: https://cdn.jsdelivr.net;
            connect-src 'self' ws: app:;
        ">
        <title data-key="siteTitle"></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
        <link rel="stylesheet" href="app:///css/style.css" />
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="logoContainer">
                <img src="app:///img/logo.png" alt="Tasktical Logo">
            </div>
            <div class="buttonContainer">
                <button class="changeLang" data-lang="" data-change="" data-key="langButton"></button>
            </div>
        </header>

        <main>
            <!-- Side-Navigation -->
            <aside class="active">
                <!-- Navigation-Closer -->
                <div class="asideCloser active"></div>
                
                <!-- Navigation -->
                <nav>
                    <!-- Favorites -->
                    <section class="navSection" data-index="Favorites">
                        <div class="navButton" data-index="Favorites">
                            <i class="fas fa-star"></i>
                            <p data-key="favorites"></p>
                        </div>
                        <div class="subMenu" data-index="Favorites">
                            <div class="item">
                                <i class="fas fa-user"></i>
                                <p>Test</p>
                            </div>
                        </div>
                    </section>

                    <!-- Workspaces -->
                    <section class="navSection" data-index="Workspaces">
                        <div class="navButton" data-index="Workspaces">
                            <i class="fas fa-briefcase"></i>
                            <p data-key="workspaces"></p>
                        </div>
                        <div class="subMenu" data-index="Workspaces">
                            <div class="item">
                                <i class="fas fa-user"></i>
                                <p>Test</p>
                            </div>
                            <button class="addBtnNav" data-key="addBtn" data-category="Workspaces"></button>
                        </div>
                    </section>

                    <!-- Workspaces -->
                    <section class="navSection" data-index="Tables">
                        <div class="navButton" data-index="Tables">
                            <i class="fas fa-database"></i>
                            <p data-key="dataspace"></p>
                        </div>
                        <div class="subMenu" data-index="Tables">
                            <div class="item">
                                <i class="fas fa-user"></i>
                                <p>Test</p>
                            </div>
                            <button class="addBtnNav" data-key="addBtn" data-category="Tables"></button>
                        </div>
                    </section>
                </nav>

                <!-- Settings & Legal-Links -->
                <div class="sectionDeviderHori"></div>
                <div class="legal">
                    <div class="row">
                        <button class="changeLang" data-lang="" data-change="" data-key="langButton"></button>
                        <a href="https://areimann.de/impress" target="_blank" data-key="impress"></a>
                    </div>
                    <p>&copy; 2025 - <span class="activeYear"></span> &nbsp; by Andreas Reimann</p>
                </div>
            </aside>

            <!-- Site-Content -->
            <section class="contentContainer">

            </section>
        </main>

        <div class="modalContainer active">
            <form class="modalForm active" data-category="Workspaces" id="workspaceForm">
                <h2 data-key="newWorkSpace"></h2>

                <div class="custom-select">
                    <div class="select-trigger" data-key="selectIcon"></div>
                    <div class="options-container"></div>
                </div>
                <input type="hidden" name="icon" id="iconInput" />
                
                <label for="workspaceName" data-key="workspaceName"></label>
                <input
                    type="text"
                    id="workspaceName"
                    name="workspaceName"
                    placeholder="..."
                    required
                />
        
                <div class="formActions">
                    <button data-key="create" type="submit">Erstellen</button>
                </div>
            </form>
            <form class="modalForm" data-category="Tables" id="workspaceForm">
                <h2>Neuer Workspace</h2>
        
                <label for="workspaceName">Name des Workspaces</label>
                <input
                    type="text"
                    id="workspaceName"
                    name="workspaceName"
                    placeholder="z.B. Persönlich, Projekte, Archiv ..."
                    required
                />
        
                <div class="formActions">
                    <button type="submit">Erstellen</button>
                </div>
            </form>
        </div>

        <script src="app:///js/i18n.js"></script>
        <script src="app:///js/db.js"></script>
        <script src="app:///js/dom.js"></script>
    </body>
</html>